/*布局*/
.col-box {  overflow: hidden;  display: flex; }
.col {  box-sizing: border-box;  padding-bottom: 10000px;  margin-bottom: -10000px;  }
.col-box .col:first-child { width: auto; flex: auto;}
.col-box .col:last-child { background-color: #F8F8F8;  width: 300px;
    border-left: 1px solid #E9E9E9;padding-left: 20px; padding-right: 20px;padding-top: 50px;}
@media screen and (max-width: 1200px){
    .col-box .col:first-child{ width: 100% !important;}
    .col-box .col:last-child{ display: none;}
}

.inner .col-box .col:last-child{ background: none;border: none}
.pd60{ padding-left: 60px;position: relative;height: 100%;max-width: 1000px;}
.pd60noMax{ padding-left: 74px;position: relative;height: 100%;}
.pad0{ padding: 0 !important;}

.fix{ overflow: hidden;position: relative;padding-top: 90px;padding-bottom: 230px;
    margin-bottom: 50px;}
.publicContent{ position: relative;background: #F0F0F0;}
.publicContent .rightFix{ min-height: 400px;}
.publicBanner{ height: 611px;position: absolute;left: 0;width: 100%;
    background: url("../images/publicbanner.jpg") no-repeat center;
    background-size: cover;}
.enterPerson{ font-size: 14px;color: #fff;
    position: relative;top: -20px;}
.enterPerson a{ color: #ffffff;}
.enterPerson i{ font-size: 14px;}
@media screen and (min-width: 1200px){
    .leftFix{ width: 200px;padding-bottom: 10000px;  margin-bottom: -10000px;
        float: left;}
    .rightFix{ margin-left: 200px;}
    .leftFixNav a{ display: block !important;}
    .leftFixNav a.active{ border-left: 4px solid #27A7ED;background: #ffffff;}
    /*.rightFix .claimStep{ padding-right: 190px;}*/
    .rightFix .companyBasic .companyMessage{ padding-right: 60px;}
    .rightFix .companyBasic .companyClaim{ padding-right: 190px;}
}
@media screen and (max-width: 48em){
    .leftFixNav a{ }

    .publicContent .fix{ padding-top: 0;padding-bottom: 80px;}

    .fix .leftFix{ padding-top: 0;border-top: none;}
    .fix .rightFix{ padding-left: 0;}
     { padding: 0 15px !important;}
    .rightFix .companyBasic .companyClaim{ padding: 0 !important;}
   .companyBasic .claimStep{ display: none;}

    .fix .rightFix .companyBasic .companyClaim .claimSearch{ width: 100%;}
   .fix .rightFix .companyBasic .companyClaim .claimSearch input{ height: 50px !important;
   padding-left: 10px;}
    .rightFix .companyBasic .companyClaim .claimSearch a{ height: 50px;line-height: 50px;width: 60px;}

    .fix .rightFix .companyBasic .companyMessage{ padding-top: 20px;}

    .publicBanner{ display: none;}

    .aboutUsDiv{ padding-left: 15px;padding-right: 15px;padding-top: 0px !important;}
    .leftFix .aboutUs{ text-align: center;padding-top: 20px;}
    .leftFix .aboutUs .aboutUsBtn{ display: inline-block;border: none !important;
    line-height: 40px;}
    .leftFix .aboutUs .aboutUsBtn a.active{ border: none;}
}

.aboutUsPage .fix{ padding-top:0; padding-bottom: 0;}
.leftFix{ background: #F9F9FC;padding-top: 50px;}
.rightFix{ width: auto;padding-bottom: 10000px;  margin-bottom: -10000px;
    padding-left: 60px;background: #ffffff;}
.leftFixNav{ text-align: center;}
.leftFixNav a{ display: inline-block;line-height: 60px;font-size: 16px;
    color: #333333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  padding: 0 15px ;}
.leftFixNav a.active{ color: #27A7ED;}

.leftFix .aboutUs{ }
.leftFix .aboutUs .aboutUsBtn{ text-align: center;font-size: 14px;border-right: 1px solid #999999;width: 110px;
margin: auto;padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.leftFix .aboutUs a{color: #999999;display: block;width: 100%;}
.leftFix .aboutUs a.active{ color: #3399ff;border-right: 1px solid #3399ff;}
.aboutUsDiv{ padding-top: 50px;}
.aboutUsBox{ display: none;}
.aboutUsBox.active{ display: block;}
.aboutUsBox h2{ font-size: 22px;font-weight: normal;margin-bottom: 20px;}
.aboutUsBox .aboutUsBnner{ margin-bottom: 10px;}
.aboutUsBox > p{ line-height: 30px;margin-bottom: 30px;font-size: 16px;color: #666666;}
.aboutUsBox .connectUs{ margin-bottom: 30px; color: #666666;}
.aboutUsBox .connectUs a{ color: #666666;}
.aboutUsBox .connectUs p{ line-height: 30px;color: #666666;font-size: 16px;}
.telapp{ display: none;}
@media screen and (max-width: 48em){
    .connectUs .telapp{ display: inline;}
    .connectUs .telpc{ display: none;}
}



.rightFix .claimStep{ padding-top: 50px;margin-bottom: 50px;}
.claimStep ul{ height: 50px;}
.claimStep ul li{ width: 25%;float: left;line-height: 50px;
    font-size: 16px;color: #cbcbcb;text-align: left;}
.claimStep ul li span{ display: inline-block;width: 20px;height: 20px;
    line-height: 20px;background: #CBCBCB;text-align: center;color: #ffffff;
    border-radius: 50%;margin-right: 5px;font-size: 14px;}
.claimStep ul li i{ font-size: 25px;color: #CBCBCB;margin-left: 10px;vertical-align: middle;
    position: relative;top: -1px;}
.claimStep ul li.active span{ background: #27A7ED;color: #ffffff}
.claimStep ul li.active,.claimStep ul li.active i{ color: #27A7ED;}


.writeNum{ display: inline-block;}
.writeNum p{ margin-bottom: 10px;font-size: 14px;color: #b5b5b5;}

.rightFix .companyBasic{ }
.rightFix .companyBasic .companyMessage{ padding-top: 60px;}
.rightFix .companyBasic.active{ display: block;}
.rightFix .companyBasic .long-btn{ width: 85%;display: inline-block;}
.rightFix .companyBasic .writeNum{ display: inline-block;width: 85%;}
.rightFix .companyBasic .companyClaim{ padding-right: 60px;}
.rightFix .companyBasic .companyClaim.active{ display: block;}
.rightFix .companyBasic .companyClaim .claimSearch{ width: 70%;margin: auto;}
.rightFix .companyBasic .companyClaim .claimSearch input{
    height: 60px !important;}
#publicAlert{ display: none;text-align: center;padding: 0 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
#publicAlert div{ float:right;height: 40px;line-height: 40px;margin-right: -35px; }
#publicAlert div i{ font-size: 20px;color: #E7E7E7;cursor: pointer;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;}
#publicAlert div i:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
#publicAlert h2{ font-size: 30px;margin-bottom: 20px;font-weight: normal;
    color: #27A7ED;margin-top: 30px;}
#publicAlert p{ font-size: 16px;color: #333;line-height: 25px;margin-bottom: 20px;}
#publicAlert a{ display: inline-block;width: 110px;height: 40px;
    font-size: 16px;
    border-radius: 4px;border:1px solid #27A7ED;line-height: 40px;margin-bottom: 30px;}
#publicAlert a:hover{ background: #27A7ED;color: #ffffff;}
.companyMessage .pure-control-group .buildCmp{ display: inline-block;
    width: 90px;height: 40px;border-radius: 4px;background: #27A7ED;
    color: #ffffff;text-align: center;line-height: 40px;font-size: 14px;}
.companyMessage .pure-control-group .companyname{
    color: #333333;border: none !important;display: inline-block;background: #F0F0F0;
    line-height: 40px;padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.companyMessage .pure-control-group .buildCmp:hover{ background: #2d9ced;}
.companyMessage .upload{ margin-top: 0;}
.companyMessage .infor{ width: auto;}
.tipsTitle{ background: #FAFAFA;color: #999999;padding: 10px 25px;
    margin-bottom: 20px;font-size: 14px;}
.tipsTitle img{ position: relative;top: -2px;margin-right: 5px;}


/*tooltips 插件*/
/* just-Tips */
.just-tooltip{position:absolute;left:0;top:0;border-radius:5px;background:#000;/*display:inline-block;*/z-index:9999;}
.just-tooltip .just-con{padding:8px 10px;color:#fff;}

.just-tooltip .just-top,
.just-tooltip .just-bottom,
.just-tooltip .just-left,
.just-tooltip .just-right{content:"";position:absolute;width:0;height:0;overflow:hidden;border-style:solid;}

.just-tooltip .just-top{left:50%;top:100%;border-width: 7px 5px 0 5px;margin-left:-5px;
    border-color: #1B1E24 transparent transparent transparent;
    _border-color: #1B1E24 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.just-tooltip .just-bottom{ left:50%; top:-7px;border-width: 0 5px 7px 5px;margin-left:-5px;
    border-color: transparent transparent #1B1E24 transparent;
    _border-color:#000000 #000000 #1B1E24 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');}
.just-tooltip .just-left{ right:-7px; top:50%;border-width: 5px 0 5px 7px;margin-top:-5px;;
    border-color: transparent transparent transparent #1B1E24;
    _border-color:#000000 #000000 #000000 #1B1E24;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.just-tooltip .just-right{ left:-7px; top:50%;border-width: 5px 7px 5px 0;margin-top:-5px;
    border-color: transparent #1B1E24 transparent transparent;
    _border-color:#000000 #000000 #000000 #1B1E24;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.just-tooltip .just-confirm{text-align:center;padding:10px 0;margin:0 10px 10px 10px;}
.just-tooltip .just-yes, .just-tooltip .just-no{background:#fff;color:#000;border:0;padding:5px 10px;}
.just-tooltip .just-no{margin-left:10px;}

/* Animations */
.animated{
    -webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;
    -webkit-animation-duration:.5s;-moz-animation-duration:.5s;-ms-animation-duration:.5s;-o-animation-duration:.5s;animation-duration:.5s;
}

@-webkit-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;}}
@-moz-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;}}
@-o-keyframes fadeIn {0% {opacity: 0;}100% {opacity: 1;}}
@keyframes fadeIn {0% {opacity: 0;}100% {opacity: 1;}}

.fadeIn{-webkit-animation-name: fadeIn; -moz-animation-name: fadeIn; -o-animation-name: fadeIn; animation-name: fadeIn;}

.moveTop{
    -webkit-animation: moveTop .6s ease both;
    animation: moveTop .6s ease both;
}
.moveBottom{
    -webkit-animation: moveBottom .6s ease both;
    animation: moveBottom .6s ease both;
}
.moveLeft{
    -webkit-animation: moveLeft .6s ease both;
    animation: moveLeft .6s ease both;
}
.moveRight{
    -webkit-animation: moveRight .6s ease both;
    animation: moveRight .6s ease both;
}
@-webkit-keyframes moveTop {
    from {opacity: 0;-webkit-transform: translateY(-20px);}
    to {opacity: 1;-webkit-transform: translateY(0); }
}
@-webkit-keyframes moveBottom {
    from {opacity: 0;-webkit-transform: translateY(20px);}
    to {opacity: 1;-webkit-transform: translateY(0); }
}
@-webkit-keyframes moveLeft {
    from {opacity: 0;-webkit-transform: translateX(-20px);}
    to {opacity: 1;-webkit-transform: translateX(0); }
}
@-webkit-keyframes moveRight {
    from {opacity: 0;-webkit-transform: translateX(20px);}
    to {opacity: 1;-webkit-transform: translateX(0); }
}
.grayColor{ background: #333;}
.grayColor .just-con{ color: #fff}
.grayColor .just-right{ border-right-color: #333;}

.whiteColor .just-con{ padding: 0;}
.whiteColor{ background: #ffffff}
.whiteColor .just-right,.whiteColor .just-bottom{ border-width: 10px 14px 10px 0;left: -14px;
    border-color: transparent #1B1E24 transparent transparent;display: none;}


/* 分页 */
.M-box,.M-box1,.M-box2,.M-box3{  position: relative;  text-align: center;  zoom: 1;
    margin: 20px 0;  }
.M-box:before,.M-box:after,.M-box1:before,.M-box1:after ,.M-box2:before,.M-box2:after ,.M-box3:before,.M-box3:after{
    content:"";  display:table;  }
.M-box:after,.M-box1:after,.M-box2:after,.M-box3:after{  clear:both;  overflow:hidden;  }
.M-box span,.M-box1 span,.M-box2 span,.M-box3 span{  display: inline-block;;  margin:0 5px;  width: 38px;  height: 38px;
    line-height: 38px;  color: #bdbdbd;  font-size: 14px;  }
.M-box .active,.M-box1 .active,.M-box2 .active,.M-box3 .active{  display: inline-block;  margin:0 5px;  width: 38px;
    height: 38px;  line-height: 38px;  background: #0476BF;  color: #fff;
    font-size: 14px;  border: 1px solid #0476BF;  }
.M-box a,.M-box1 a,.M-box2 a,.M-box3 a{  display: inline-block;  margin:5px 5px 0 5px;  width: 38px;
    height: 38px;  line-height: 38px;  background: #fff;  border: 1px solid #ebebeb;  color: #bdbdbd;  font-size: 14px;  }
.M-box a:hover,.M-box1 a:hover,.M-box2 a:hover,.M-box3 a:hover{  color:#fff;  background: #0476BF;  }
.M-box .next,.M-box .prev,.M-box1 .next,.M-box1 .prev{  font-family: "Simsun";  font-size: 16px;  font-weight: bold; }


/*自动补全*/
.bigautocomplete-layout{display:none;background-color:#FFFFFF;border:1px solid #BCBCBC;
    position:absolute;z-index:99999999;max-height:220px;overflow-x:hidden;overflow-y:auto; }
.bigautocomplete-layout table{border-collapse:collapse;border-spacing:0;background:none repeat scroll 0 0 #FFFFFF;width:100%;cursor:default;}
.bigautocomplete-layout table tr{background:none repeat scroll 0 0 #FFFFFF;}
.bigautocomplete-layout table tr td{ height: 50px;}
.bigautocomplete-layout .ct{background:none repeat scroll 0 0 #f0f0f0 !important;}
.bigautocomplete-layout div{word-wrap:break-word;word-break:break-all;padding:1px 5px;}
.bigautocomplete-layout table tr td a{ width: 90px;height: 30px;display: inline-block;line-height: 30px;text-align: center;
    background: deepskyblue;color: #FFFFFF;float: right;margin-right: 20px;
    margin-top: 5px;}
.bigautocomplete-layout table tr td span{ line-height: 40px;}

/* 表单验证*/
/*.notice-inline{ display: block !important;}*/
.help-block-none{ display: none !important}
.help-block{ display: block;}
.has-error{ }
.has-error input{ border-color: crimson !important}
.has-error .help-block{ margin-left: 15%;color: crimson;
    line-height: 30px;}
@media screen and (max-width: 48em){
    .pure-control-group.has-error .help-block{ margin-left: 0;}
}

.has-error select{ border-color: crimson !important}
.has-error textarea{ border-color: crimson !important}
#buildTime .help-block{ display: none !important}
.defaultForm{ display: inline-block;width: 160px;height: 40px;
    border-radius: 4px;background: #F0F0F0;text-align: center;
    line-height: 40px;vertical-align: middle;margin-right: 10px;}

#havingTag .writeNum span,#ibTag .writeNum span{ display: inline-block;padding: 5px 14px;
    background: #9fd2eb;position: relative;cursor: pointer;margin-right: 10px;
}
#havingTag .writeNum span i,#ibTag .writeNum span i{ font-size: 12px;margin-left: 10px;}
#havingTag .writeNum span:hover i,#ibTag .writeNum span:hover i{ color: crimson;}

/*上传视频*/
/*.webuploader-pick + div{ width: 78px !important;height: 36px !important;}*/


/*分页*/
.thePage .pageview{ text-align: right;padding-top: 30px;padding-bottom: 30px;}
.thePage .pageview .flip{ padding:0;float: none;width: 35px;height: 35px;line-height: 35px;
text-align: center;}
.pageview .ico{ float: none;}
.thePage .pageview a.flip:hover,.thePage .pageview .active{
    background-color: #0476BF;
    border-color: #0476BF;
}
.itemList .thePage .pageview a.flip:hover,.itemList .thePage .pageview .active{
    background-color: #FF9936;
    border-color: #FF9936;
}

/*未登录*/
.noLogin{ position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 9999;
background-color: rgba(0,0,0,.7)}
.noLoginBox{ position: absolute;width: 250px;left: 50%;margin-left: -125px;
top: 200px;text-align: center}
.noLoginBox h2{ font-size: 24px;color: #fff;margin-bottom: 10px;font-weight: normal;}
.noLoginBox a{ display: block;width: 180px;height: 50px;margin: 20px auto;color: #ffffff;
font-size: 18px;border-radius: 50px;background-color: #009CEA;line-height: 50px;}
.noLoginBox a:hover{ background-color: #158ceb;}

/*loading*/

.i-loading{
    width: 80px;
    height: 40px;
    margin: 0 auto;
    margin-top:100px;
    margin-bottom: 50px;
}
.i-loading span{
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: #009CEA;
    opacity: 0.7;
    -webkit-animation: load 1s ease infinite;
    animation: load 1s ease infinite;
}
@-webkit-keyframes load{
    0%,100%{
        height: 40px;
        background: #009CEA;
    }
    50%{
        height: 70px;
        margin: -15px 0;
        background: #009CEA;
    }
}
.i-loading span:nth-child(2){
    -webkit-animation-delay:0.2s;
    animation-delay:0.2s;
}
.i-loading span:nth-child(3){
    -webkit-animation-delay:0.4s;
    animation-delay:0.4s;
}
.i-loading span:nth-child(4){
    -webkit-animation-delay:0.6s;
    animation-delay:0.6s;
}
.i-loading span:nth-child(5){
    -webkit-animation-delay:0.8s;
    animation-delay:0.8s;
}
.i-loading span:nth-child(6){
    -webkit-animation-delay:1s;
    animation-delay:1s;
}

/*渐变背景*/
.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0.05) 5%, rgba(0,0,0,0.85) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(0,0,0,0.05) 5%, rgba(0,0,0,0.85) 100%);
    background-image: linear-gradient(180deg, rgba(0,0,0,0.05) 5%,rgba(0,0,0,0.85) 100%);
}
.overlay1 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-image: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 85%, rgba(244, 244, 244, 0.85) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 85%, rgba(244, 244, 244, 0.85) 100%);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 85%,rgba(244, 244, 244, 0.85) 100%);
}


/*! Hint.css - v2.3.2 - 2016-07-28
* http://kushagragour.in/lab/hint/
* Copyright (c) 2016 Kushagra Gour; Licensed  */

/*-------------------------------------*	HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 *
 * Classes added:
 * 	1) hint
 */
[class*="hint--"] {
    position: relative;
    display: inline-block;
    /**
       * tooltip arrow
       */
    /**
       * tooltip body
       */ }
[class*="hint--"]:before, [class*="hint--"]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms; }
[class*="hint--"]:hover:before, [class*="hint--"]:hover:after {
    visibility: visible;
    opacity: 1; }
[class*="hint--"]:hover:before, [class*="hint--"]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms; }
[class*="hint--"]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
[class*="hint--"]:after {
    background: #383838;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 12px;
    white-space: nowrap; }
[class*="hint--"][aria-label]:after {
    content: attr(aria-label); }
[class*="hint--"][data-hint]:after {
    content: attr(data-hint); }

[aria-label='']:before, [aria-label='']:after,
[data-hint='']:before,
[data-hint='']:after {
    display: none !important; }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
.hint--top-left:before {
    border-top-color: #383838; }

.hint--top-right:before {
    border-top-color: #383838; }

.hint--top:before {
    border-top-color: #383838; }

.hint--bottom-left:before {
    border-bottom-color: #383838; }

.hint--bottom-right:before {
    border-bottom-color: #383838; }

.hint--bottom:before {
    border-bottom-color: #383838; }

.hint--left:before {
    border-left-color: #383838; }

.hint--right:before {
    border-right-color: #383838; }

/**
 * top tooltip
 */
.hint--top:before {
    margin-bottom: -11px; }

.hint--top:before, .hint--top:after {
    bottom: 100%;
    left: 50%; }

.hint--top:before {
    left: calc(50% - 6px); }

.hint--top:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%); }

.hint--top:hover:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px); }

.hint--top:hover:after {
    -webkit-transform: translateX(-50%) translateY(-8px);
    -moz-transform: translateX(-50%) translateY(-8px);
    transform: translateX(-50%) translateY(-8px); }

/**
 * bottom tooltip
 */
.hint--bottom:before {
    margin-top: -11px; }

.hint--bottom:before, .hint--bottom:after {
    top: 100%;
    left: 50%; }

.hint--bottom:before {
    left: calc(50% - 6px); }

.hint--bottom:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%); }

.hint--bottom:hover:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px); }

.hint--bottom:hover:after {
    -webkit-transform: translateX(-50%) translateY(8px);
    -moz-transform: translateX(-50%) translateY(8px);
    transform: translateX(-50%) translateY(8px); }

/**
 * right tooltip
 */
.hint--right:before {
    margin-left: -11px;
    margin-bottom: -6px; }

.hint--right:after {
    margin-bottom: -14px; }

.hint--right:before, .hint--right:after {
    left: 100%;
    bottom: 50%; }

.hint--right:hover:before {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px); }

.hint--right:hover:after {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px); }

/**
 * left tooltip
 */
.hint--left:before {
    margin-right: -11px;
    margin-bottom: -6px; }

.hint--left:after {
    margin-bottom: -14px; }

.hint--left:before, .hint--left:after {
    right: 100%;
    bottom: 50%; }

.hint--left:hover:before {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px); }

.hint--left:hover:after {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px); }

/**
 * top-left tooltip
 */
.hint--top-left:before {
    margin-bottom: -11px; }

.hint--top-left:before, .hint--top-left:after {
    bottom: 100%;
    left: 50%; }

.hint--top-left:before {
    left: calc(50% - 6px); }

.hint--top-left:after {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%); }

.hint--top-left:after {
    margin-left: 12px; }

.hint--top-left:hover:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px); }

.hint--top-left:hover:after {
    -webkit-transform: translateX(-100%) translateY(-8px);
    -moz-transform: translateX(-100%) translateY(-8px);
    transform: translateX(-100%) translateY(-8px); }

/**
 * top-right tooltip
 */
.hint--top-right:before {
    margin-bottom: -11px; }

.hint--top-right:before, .hint--top-right:after {
    bottom: 100%;
    left: 50%; }

.hint--top-right:before {
    left: calc(50% - 6px); }

.hint--top-right:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); }

.hint--top-right:after {
    margin-left: -12px; }

.hint--top-right:hover:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px); }

.hint--top-right:hover:after {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px); }

/**
 * bottom-left tooltip
 */
.hint--bottom-left:before {
    margin-top: -11px; }

.hint--bottom-left:before, .hint--bottom-left:after {
    top: 100%;
    left: 50%; }

.hint--bottom-left:before {
    left: calc(50% - 6px); }

.hint--bottom-left:after {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%); }

.hint--bottom-left:after {
    margin-left: 12px; }

.hint--bottom-left:hover:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px); }

.hint--bottom-left:hover:after {
    -webkit-transform: translateX(-100%) translateY(8px);
    -moz-transform: translateX(-100%) translateY(8px);
    transform: translateX(-100%) translateY(8px); }

/**
 * bottom-right tooltip
 */
.hint--bottom-right:before {
    margin-top: -11px; }

.hint--bottom-right:before, .hint--bottom-right:after {
    top: 100%;
    left: 50%; }

.hint--bottom-right:before {
    left: calc(50% - 6px); }

.hint--bottom-right:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0); }

.hint--bottom-right:after {
    margin-left: -12px; }

.hint--bottom-right:hover:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px); }

.hint--bottom-right:hover:after {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px); }

/**
 * source: hint-sizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 * 	1) hint--small
 * 	2) hint--medium
 * 	3) hint--large
 *
 */
.hint--small:after,
.hint--medium:after,
.hint--large:after {
    white-space: normal;
    line-height: 1.4em;
    word-wrap: break-word; }

.hint--small:after {
    width: 80px; }

.hint--medium:after {
    width: 150px; }

.hint--large:after {
    width: 300px; }

/**
 * source: hint-theme.scss
 *
 * Defines basic theme for tooltips.
 *
 */
[class*="hint--"] {
    /**
       * tooltip body
       */ }
[class*="hint--"]:after {
    text-shadow: 0 -1px 0px black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 *
 * Classes added:
 * 	1) hint--error
 * 	2) hint--warning
 * 	3) hint--info
 * 	4) hint--success
 *
 */
/**
 * Error
 */
.hint--error:after {
    background-color: #b34e4d;
    text-shadow: 0 -1px 0px #592726; }

.hint--error.hint--top-left:before {
    border-top-color: #b34e4d; }

.hint--error.hint--top-right:before {
    border-top-color: #b34e4d; }

.hint--error.hint--top:before {
    border-top-color: #b34e4d; }

.hint--error.hint--bottom-left:before {
    border-bottom-color: #b34e4d; }

.hint--error.hint--bottom-right:before {
    border-bottom-color: #b34e4d; }

.hint--error.hint--bottom:before {
    border-bottom-color: #b34e4d; }

.hint--error.hint--left:before {
    border-left-color: #b34e4d; }

.hint--error.hint--right:before {
    border-right-color: #b34e4d; }

/**
 * Warning
 */
.hint--warning:after {
    background-color: #c09854;
    text-shadow: 0 -1px 0px #6c5328; }

.hint--warning.hint--top-left:before {
    border-top-color: #c09854; }

.hint--warning.hint--top-right:before {
    border-top-color: #c09854; }

.hint--warning.hint--top:before {
    border-top-color: #c09854; }

.hint--warning.hint--bottom-left:before {
    border-bottom-color: #c09854; }

.hint--warning.hint--bottom-right:before {
    border-bottom-color: #c09854; }

.hint--warning.hint--bottom:before {
    border-bottom-color: #c09854; }

.hint--warning.hint--left:before {
    border-left-color: #c09854; }

.hint--warning.hint--right:before {
    border-right-color: #c09854; }

/**
 * Info
 */
.hint--info:after {
    background-color: #3986ac;
    text-shadow: 0 -1px 0px #1a3c4d; }

.hint--info.hint--top-left:before {
    border-top-color: #3986ac; }

.hint--info.hint--top-right:before {
    border-top-color: #3986ac; }

.hint--info.hint--top:before {
    border-top-color: #3986ac; }

.hint--info.hint--bottom-left:before {
    border-bottom-color: #3986ac; }

.hint--info.hint--bottom-right:before {
    border-bottom-color: #3986ac; }

.hint--info.hint--bottom:before {
    border-bottom-color: #3986ac; }

.hint--info.hint--left:before {
    border-left-color: #3986ac; }

.hint--info.hint--right:before {
    border-right-color: #3986ac; }

/**
 * Success
 */
.hint--success:after {
    background-color: #458746;
    text-shadow: 0 -1px 0px #1a321a; }

.hint--success.hint--top-left:before {
    border-top-color: #458746; }

.hint--success.hint--top-right:before {
    border-top-color: #458746; }

.hint--success.hint--top:before {
    border-top-color: #458746; }

.hint--success.hint--bottom-left:before {
    border-bottom-color: #458746; }

.hint--success.hint--bottom-right:before {
    border-bottom-color: #458746; }

.hint--success.hint--bottom:before {
    border-bottom-color: #458746; }

.hint--success.hint--left:before {
    border-left-color: #458746; }

.hint--success.hint--right:before {
    border-right-color: #458746; }

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) hint--always
 *
 */
.hint--always:after, .hint--always:before {
    opacity: 1;
    visibility: visible; }

.hint--always.hint--top:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px); }

.hint--always.hint--top:after {
    -webkit-transform: translateX(-50%) translateY(-8px);
    -moz-transform: translateX(-50%) translateY(-8px);
    transform: translateX(-50%) translateY(-8px); }

.hint--always.hint--top-left:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px); }

.hint--always.hint--top-left:after {
    -webkit-transform: translateX(-100%) translateY(-8px);
    -moz-transform: translateX(-100%) translateY(-8px);
    transform: translateX(-100%) translateY(-8px); }

.hint--always.hint--top-right:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px); }

.hint--always.hint--top-right:after {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px); }

.hint--always.hint--bottom:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px); }

.hint--always.hint--bottom:after {
    -webkit-transform: translateX(-50%) translateY(8px);
    -moz-transform: translateX(-50%) translateY(8px);
    transform: translateX(-50%) translateY(8px); }

.hint--always.hint--bottom-left:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px); }

.hint--always.hint--bottom-left:after {
    -webkit-transform: translateX(-100%) translateY(8px);
    -moz-transform: translateX(-100%) translateY(8px);
    transform: translateX(-100%) translateY(8px); }

.hint--always.hint--bottom-right:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px); }

.hint--always.hint--bottom-right:after {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px); }

.hint--always.hint--left:before {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px); }

.hint--always.hint--left:after {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px); }

.hint--always.hint--right:before {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px); }

.hint--always.hint--right:after {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px); }

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 *
 * Classes added:
 * 	1) hint--rounded
 *
 */
.hint--rounded:after {
    border-radius: 4px; }

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 * 	1) hint--no-animate
 * 	2) hint--bounce
 *
 */
.hint--no-animate:before, .hint--no-animate:after {
    -webkit-transition-duration: 0ms;
    -moz-transition-duration: 0ms;
    transition-duration: 0ms; }

.hint--bounce:before, .hint--bounce:after {
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24); }

/*日历css*/
/* Main stylesheet for select plugin */
.selectul{
    position:relative;
    display:inline-block;
    cursor:pointer;
    float:left;
    margin-right:10px;
}
.selectul ul{
    position:absolute;
    left:0;
    top:0px;
    background:#fff url("../images/select-arr-line.gif") repeat-x 0 0;
    border:1px solid #bdc3c7;
    border-top:none;
    padding:0px;
    overflow:hidden;
    overflow-y:auto;
    display:none;
    padding-top: 31px;
    -webkit-box-shadow:1px 1px 2px #eee;
    box-shadow:1px 1px 2px #eee;
}
.selectul ul li{
    height:20px;
    line-height:20px;
    color:#6a7576;
    font-size:12px;
    padding:5px 10px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.selectul ul li:hover{
    background:#666;
    color:#fff;
    cursor:pointer;
}
.selectul select{
    display:none;
}

.selectfocus{
    height:30px;
    line-height:30px;
    border:1px solid #d3dcdd;
    background-color: #fff;
    padding:0 0 0 8px;
    position: relative;
    z-index: 1002;
}
.selectfocus em{
    height:30px;
    display:block;
    background:url(../images/select-arr-default.gif) no-repeat right 0;
    font-style:normal;
    color:#4b555b;
    padding-right:8px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.select_ul_show .selectfocus{
    /*border-color:#91c4e5;
    border-bottom-color:#edf4f8;*/
}
.select_ul_show .selectfocus em{
    background-position:right -28px;
}

/*时间样式*/
.lq-datetimepick{
    width: 500px;
    /*height: 280px;*/
    position: absolute;
    /*left: 50%;
    top: 50%;
    margin: -160px 0 0 -260px;*/
    border: 1px solid #d3dcdd;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.2);
    box-shadow: 0 0 7px rgba(0,0,0,.2);
    display: none;
    z-index: 999999999999;
}
.datetime-arr{
    width: 13px;
    height: 7px;
    position: absolute;
    left: 25px;
    top: -7px;
    background: url("../images/pop-tips-info-arr.gif") no-repeat 0 0;
}
.select-datetime{
    width: 100%;
    float: left;
    *height: 222px;
    height: 300px;overflow-y: scroll;
}
.select-datetime dl{
    height: 50px;
}
.select-datetime dl.datetime-day{
    margin-bottom: 10px;
}
.select-datetime dl dt{
    width: 100px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #4b555b;
}
.select-datetime dl dt a{
    display: block;
    padding: 7px 0;
}
.select-datetime dl dt span{
    display: block;
    border-right: 1px solid #ecf0f1;
    margin-right: -1px;
}
.select-datetime dl dt.last span{
    border-right: none;
}
.select-datetime dl dt span i{
    color: #f03368;
    margin-left: 6px;
}
.select-datetime dl dt em{
    display: block;
    font-weight: normal;
}
/*.select-datetime dl dt a:hover,*/
.select-datetime dl dt.current a{
    background-color: #13a4e7;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
/*.select-datetime dl dt a:hover i,*/
.select-datetime dl dt.current a i{
    color: #FFFFFF;
}
.select-datetime dl dt a:hover{
    text-decoration: none;
}

.select-datetime dl dd{
    width: 99px;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #d3dcdd;
    padding: 7px 0 6px;
    line-height: 20px;
    text-align: center;
    color: #4b555b;
    cursor: pointer;
}
.select-datetime dl dd em{
    font-size: 12px;
    display: block;
}
.select-datetime dl dd.over{
    color: #95a5a6;
    background-color: #ecf0f1;
}
.select-datetime dl dd.selected{
    color: #ffffff;
    background-color: #6b7879;
}



/*年份*/
.datetime-select{
    height: 32px;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3dcdd;
}
.datetime-select .selectul{
    width: 100px;
}

/*日期*/
.select-datetime dl.datetime-day{
    height: 35px;
}
.select-datetime dl.datetime-day dt,
.select-datetime dl.datetime-day dd{
    width: 70px;
    height: 30px;
    line-height: 30px;
}
.select-datetime dl.datetime-day dt{
    width: 71px;
}
.select-datetime dl.datetime-day dt span{
    border-right: none;
    font-size: 14px;
    text-align: center;
}

.select-datetime dl dd.blank{
    background-color: #fafbfb;
}
.select-datetime dl dd.current{
    background-color: #f2f5f5;
    font-weight: bold;
}

/*时分*/
.select-datetime dl.datetime-hour dd{
    width: 100%;
    height: 30px;
    line-height: 30px;
}


/**/
.select-datetime dl.datetime-week{
    height: 50px;
}
.select-datetime dl.datetime-week dt,
.select-datetime dl.datetime-week dd{
    width: 100px;
    height: 50px;
    line-height: 150%;
}
.select-datetime dl.datetime-week dt span{
    border-right: 1px solid #ecf0f1;
    font-size: 12px;
    text-align: center;
    margin-right: -1px;
}
.select-datetime dl dt.last span{
    border-right: none;
}

/***********活动日历***************/
.calendar {
    width: 280px;
    height: 330px;
    background: #ffffff;padding: 0;
}
.calendar-modal {
    display: none;
    position: absolute;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd
}
.calendar-inner {
    position: relative;
    z-index: 1;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
.calendar-views {
    transform-style: preserve-3d;
}
.calendar .view {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    *overflow: hidden;
    /*-webkit-transition: .6s;*/
    /*transition: .6s;*/
}
.calendar-d .view-month,
.calendar-m .view-date {
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 1;
}
.calendar-d .view-date,
.calendar-m .view-month {
    transform: rotateY(0deg);
    visibility: visible;
    z-index: 2;
}
.calendar-ct,
.calendar-hd,
.calendar-views .week,
.calendar-views .days {
    overflow: hidden;
}
.calendar-views {
    width: 100%;
}
.calendar .view,
.calendar-display,
.calendar-arrow .prev,
.calendar .date-items li {
    float: left;
}
.calendar-arrow,
.calendar-arrow .next {
    float: right;
}
.calendar-hd {
    padding: 10px 0;
    height: 30px;
    line-height: 30px;
}
.calendar-display {
    font-size: 20px;
    text-indent: 10px;
}
.view-month .calendar-hd {
    padding: 10px;
}
.calendar-arrow,
.calendar-display {
    color: #ddd;
}
.calendar li[disabled] {
    color: #bbb;
}
.calendar li.old[disabled],
.calendar li.new[disabled] {
    color: #eee;
}
.calendar-display .m,
.calendar-views .week,
.calendar-views .days .old,
.calendar-views .days .new,
.calendar-display:hover,
.calendar-arrow span:hover {
    color: #888;
}

.calendar-arrow span,
.calendar-views .days li[data-calendar-day],
.calendar-views .view-month li[data-calendar-month] {
    cursor: pointer;
}
.calendar li[disabled] {
    cursor: not-allowed;
}

.calendar-arrow {
    width: 50px;
    margin-right: 10px;
}
.calendar-arrow span {
    font: 500 26px sans-serif;
}

.calendar ol li {
    position: relative;
    float: left;
    text-align: center;
    border-radius: 50%;
}
.calendar .week li,
.calendar .days li {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.calendar .month-items li {
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.calendar .days li[data-calendar-day]:hover,
.calendar .view-month li[data-calendar-month]:hover {
    background: #eee;
}
.calendar .calendar-views .now {
    color: #fff;
    background: #FF808E!important;
}
.calendar .calendar-views .selected {
    color: #FF808E;
    background: #CDE9D9!important;
}
.calendar .calendar-views .dot {
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    background: #FF808E;
    border-radius: 50%;
}
.calendar-views .now .dot {
    background: #fff;
}

.calendar .date-items {
    width: 300%;
    margin-left: -100%;
}

.calendar-label {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 200px;
    z-index: 2;
    padding: 5px 10px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border-radius: 3px;
    opacity: .7;
    filter: alpha(opacity=70);
}
.calendar-label i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -12px;
    width: 0;
    height: 0;
    margin-left: -3px;
    border: 6px solid transparent;
    border-top-color: #000;
}

/*倒计时*/
ul.countdown {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    display: block;
    text-align: center;
    color: #FFC926;
}

ul.countdown li {
    display: inline-block;
    padding: 5px 8px 15px 8px;border: 1px solid #9A5400;
    border-radius: 6px;
    background-color: rgba(0,0,0,.1);
    font-family: 华文细黑;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 7px;
}

ul.countdown li span {
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
}

ul.countdown li.seperator {
    font-size: 45px;
    line-height: 70px;
    vertical-align: top;
}

ul.countdown li p {
    color: #FFC926;
    font-size: 14px;
}
/*数字滚动特效*/
.mt-number-animate{ font-family: '微软雅黑'; line-height:40px; height: 40px;/*设置数字显示高度*/; font-size: 40px;/*设置数字大小*/ overflow: hidden; display: inline-block; position: relative; }
.mt-number-animate .mt-number-animate-dot{ width: 15px;/*设置分割符宽度*/ line-height: 40px; float: left; text-align: center;}
.mt-number-animate .mt-number-animate-dom{ width: 25px;/*设置单个数字宽度*/ text-align: center; float: left; position: relative; top: 0;}
.mt-number-animate .mt-number-animate-dom .mt-number-animate-span{ width: 100%; float: left;}

/*缩略图轮播2*/
.oneBanner{ height: 400px;position: relative;}
.oneBannerRgb{ position: absolute;left: 0;top: 0;background-color: rgba(0,0,0,.5);width: 100%;
height: 100%;}
@media screen and (max-width: 48em){
   .incubatorDetail .oneBanner{ height: 200px;}
}
/*公共提示*/
.messTitleAlert{ padding: 20px 40px;width: 520px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.messTitleAlert h2{ font-size: 16px;margin-bottom: 5px;}
.messTitleAlert p{ margin-bottom: 5px;}
.messTitleAlert p span{ color: #00A1F2;}